header{
  padding: 20px;
  background-color: aquamarine;

}

nav{
  width: 100%;
  background-color: blue;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  color: white  ;
  
}

ul li{
  list-style: none;
}

main{
  min-height: 70vh;
}

footer{
  background-color: aquamarine;
  padding: 10px;
  color: rgb(174, 25, 25);
  font-size: x-large;
  font-weight: 600;
  text-align: center;

}

.card{
  width: 400px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}

.card .abC{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.card>img{
  height: 200px;
}